<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/notification.css">
    <title>Document</title>
    <style>
        .notification-list{
            border-radius: 1rem;
        }
    </style>
</head>
<body>
    <section class="section-50">
        <div class="container">
            <h3 class="m-b-50 heading-line">Notifications <i class="fa fa-bell text-muted"></i></h3>
    
            <div class="notification-ui_dd-content">
                <div class="notification-list notification-list--unread">
                    <div class="notification-list_content">
                        <div class="notification-list_img">
                            <img src="../static/images/a_p.jpg" alt="user">
                        </div>
                        <div class="notification-list_detail">
                            <p><b>Arabinda_Pradhan_</b> reacted to your post</p>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                            <p class="text-muted"><small>10 mins ago</small></p>
                        </div>
                    </div>
                    <div class="notification-list_feature-img">
                        <img src="../static/images/chat-bg.jpg" alt="Feature image">
                    </div>
                </div>
                <div class="notification-list notification-list--unread">
                    <div class="notification-list_content">
                        <div class="notification-list_img">
                            <img src="../static/images/susi.png" alt="user">
                        </div>
                        <div class="notification-list_detail">
                            <p><b>_Sushant___03</b> liked your post</p>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                            <p class="text-muted"><small>10 mins ago</small></p>
                        </div>
                    </div>
                    <div class="notification-list_feature-img">
                        <img src="../static/images/shakti_sup.png" alt="Feature image">
                    </div>
                </div>
                <div class="notification-list">
                    <div class="notification-list_content">
                        <div class="notification-list_img">
                            <img src="../static/images/pragyan.png" alt="user">
                        </div>
                        <div class="notification-list_detail">
                            <p><b>pragyan</b> reacted to your post</p>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                            <p class="text-muted"><small>10 mins ago</small></p>
                        </div>
                    </div>
                    <div class="notification-list_feature-img">
                        <img src="../static/images/flower.png" alt="Feature image">
                    </div>
                </div>
                <div class="notification-list">
                    <div class="notification-list_content">
                        <div class="notification-list_img">
                            <img src="../static/images/logo.png" alt="user">
                        </div>
                        <div class="notification-list_detail">
                            <p><b>_raquel_</b> reacted to your post</p>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                            <p class="text-muted"><small>10 mins ago</small></p>
                        </div>
                    </div>
                    <div class="notification-list_feature-img">
                        <img src="../static/images/shakti_sup.png" alt="Feature image">
                    </div>
                </div>
                <div class="notification-list">
                    <div class="notification-list_content">
                        <div class="notification-list_img">
                            <img src="../static/images/shakti.png" alt="user">
                        </div>
                        <div class="notification-list_detail">
                            <p><b>shaktibhusan_20</b> reacted to your post</p>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                            <p class="text-muted"><small>10 mins ago</small></p>
                        </div>
                    </div>
                    <div class="notification-list_feature-img">
                        <img src="../static/images/pabana.png" alt="Feature image">
                    </div>
                </div>
            </div>
    
            <div class="text-center">
                <a href="#!" class="dark-link">Load more activity</a>
            </div>
    
        </div>
    </section>  
</body>
</html>