<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <!-- <video autoplay muted loop id="myVideo">
        <source src="/html&css/images/3129595-uhd_3840_2160_30fps.mp4" type="video/mp4">
      </video> -->
    <div class="container">
        <div class="left-side">
            <h1>Log In</h1>
            <h3><i>to your account</i></h3><br>
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <button>LOG IN</button><br>
            <a href="#">Forgot Password?</a>
        </div>
        <div class="right-side">
            <h1>Sign In</h1>
            <h3><i>with one of your social <br> profiles</i></h3><br>
            <div class="social-buttons">
                <button><i class="fab fa-twitter" style="color: rgb(0, 162, 255);"></i></button>
                <button><i class="fab fa-facebook-f" style="color: rgb(0, 85, 255);"></i></button>
                <button><i class="fab fa-google-plus-g" style="color: rgb(255, 157, 0);"></i></button>
            </div>
            <br>
            <p>Don't have an account?
                <br> <a href="#">Register</a></p>
        </div>
    </div>
</body>
</html>